/* General CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #b83e99;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.preview-container {
    position: sticky;
    top: 0;
    width: 80%;
    max-width: 500px;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
    position: relative;
}

#character-preview {
    width: 500px;
    height: 600px;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#character-preview img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}

#submit-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#submit-button:hover {
    background-color: #45a049;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.collapsible-content {
    display: none;
}
.collapsible {
    cursor: pointer;
}
.collapsible + div {
    display: none;
}
.collapsible {
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: #b83e99;
    color: #fff;
    transition: background-color 0.3s ease;
}
.active {
    background-color: #d55db1;
}
.collapsible:hover {
    background-color: #d55db1;
}
.options-container {
    width: 10%;
}
.options {
    width: 30%;
    margin-right: 20px;
}
.radio-buttons {
    display: flex;
    flex-wrap: wrap;
}
.radio-buttons input[type="radio"] {
    display: none;
}
.radio-buttons label {
    display: inline-block;
    width: 22%; /* Adjusted width to fit four buttons per row */
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.radio-buttons label:nth-child(4n) {
    margin-right: 0;
}
.radio-buttons label img {
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}
.radio-buttons input[type="radio"]:checked + label img {
    border-color: #333;
}

/* Mobile-specific CSS */
@media screen and (max-width: 600px) {
    body {
        font-size: 11px;
    }
    .preview-container {
        position: sticky;
        top: 0;
        width: 90%;
        margin: 20px auto;
       /* border: 1px solid red; */
    }
    #character-preview {
        width: 100%;
        height: 400px;
        margin-top: 20px;
       /* border: 1px solid blue; */
    }
    #submit-button {
        display: block;
        width: 80%;
        margin: 20px auto;
    }
    .radio-buttons label {
        width: 45%;
        margin-right: 5%;
        margin-bottom: 20px;
    }
    .collapsible {
        padding: 5px;
        width: 80%;
        margin-bottom: 5px;
    }
    .options-container {
        width: 5%;
        margin-bottom: 10px;
    }
    .options {
        width: 40%;
        margin-right: 0;
    }
}
