body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
}

header {
    background-color: #b83e99;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.preview-container {
    width: 80%; /* Adjust width as needed */
    max-width: 500px; /* Limit maximum width for larger screens */
    margin-top: 0; /* Reduce or remove the margin at the top */
    padding-top: 20px; /* Add padding at the top to create space */
    text-align: center;
    position: relative;
}

#character-preview {
    width: 500px;
    height: 600px;
    margin-top: 20px;
    text-align: center;
    position: relative; /* Add position relative to create a stacking context */
}

#character-preview img {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Align images vertically to the center */
    left: 50%; /* Align images horizontally to the center */
    transform: translate(-50%, -50%); /* Move images back by half of their width and height */
    max-width: 100%; /* Ensure images don't exceed container width */
    max-height: 100%; /* Ensure images don't exceed container height */
    opacity: 1; /* Set initial opacity to create layer effect */
}

#submit-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

#submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
}


main {
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: flex-start; /* Center items vertically */
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* Initially hide the content of collapsible sections */
.collapsible-content {
    display: none;
}
.collapsible {
    cursor: pointer;
}

.collapsible + div {
    display: none;
}

/* Style for the collapsible headings */
.collapsible {
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: #b83e99;
    color: #fff;
    transition: background-color 0.3s ease;
}

/* Style for the active (open) collapsible headings */
.active {
    background-color: #d55db1;
}


/* Hover effect for collapsible headings */
.collapsible:hover {
    background-color: #d55db1;
}

.options-container {
    width: 10%; /* Set width for the options container */
}

.options {
    width: 30%; /* Set width for the options section */
    margin-right: 20px; /* Add some space between options and preview */
}

.radio-buttons {
    display: flex;
    flex-wrap: wrap;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons label {
    display: inline-block;
    width: 12%; /* Set width to 45% for 2 buttons per row */
    margin-right: 10px; /* Adjust margin between buttons */
    margin-bottom: 5px;
    cursor: pointer;
}

.radio-buttons label:nth-child(2n) {
    margin-right: 0; /* Remove margin for the last button in each row */
}

.radio-buttons label img {
    width: 100%; /* Make images fill the label container */
    height: auto; /* Ensure proportional scaling */
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.radio-buttons input[type="radio"]:checked + label img {
    border-color: #333;
}

/* CSS for mobile devices */
@media screen and (max-width: 600px) {
    .preview-container {
        width: 90%; /* Adjust width for better fit on smaller screens */
    }

    #character-preview {
        width: 100%; /* Set width to 100% to fit smaller screens */
        height: auto; /* Let the height adjust based on image dimensions */
        margin-top: 20px; /* Maintain margin for spacing */
    }

    #submit-button {
        display: block; /* Display the submit button as a block element */
        width: 80%; /* Set width to 80% */
        margin: 20px auto; /* Center the button horizontally */
    }

    .radio-buttons label {
        width: 45%; /* Increase width to fit two buttons per row */
        margin-right: 5%; /* Adjust margin between buttons */
        margin-bottom: 5px; /* Increase margin bottom for better spacing */
    }

        /* Style for the collapsible headings */
    .collapsible {
        cursor: pointer;
        padding: 3px;
        width: 50%;
        border: none;
        text-align: left;
        outline: none;
        background-color: #b83e99;
        color: #fff;
        transition: background-color 0.3s ease;
    }

    .options-container {
        width: 30%; /* Set width for the options container */
    }

    .options {
        width: 30%; /* Adjust width to fit better on smaller screens */
        margin-right: 0; /* Remove right margin */
    }
}
